h1 Ruuun stickman run
h2 You'd better run

section.world
  div.back.one
  div.back.two
  div.back.three
  div.back.four
  div.floor
    div.rock.one
    div.rock.two
    div.rock.three
    div.grass.one
    div.grass.two
    div.grass.three
    div.grass.four
    div.grass.five
    div.grass.six
    div.grass.seven
    div.grass.height
    div.grass.nine
    div.grass.ten
  div.cloud.one
  div.cloud.two
  div.cloud.three
  div.stick
    div.head
    div.arm.left
      div.bottom
    div.arm.right
      div.bottom
    div.leg.left
      div.bottom
    div.leg.right
      div.bottom